*{
    font-family: "Poppoins", sans-serif;
}
a{
    text-decoration: none;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: -8px -8px 0px -8px;
}
h1{
    color: #0088cc;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px;
}
header h1:hover{
    color: white;
}
.ou{
    margin-top: -8px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin: 25px 0 20px 0;
}
span{
    background-color: white;
    padding: 10px;
}
.EtudanteResponsavel {
    width: 500px;
    height: 686px;
    float: left;
    background-color: green;
    text-align: center;
}
.acesso-administrativo{
    float: left;
    width: 300px;
    height: 686px;
    background-color: red;
    text-align: center;
    margin: -1px;
}
form{
    background-color: aqua;
    border-radius: 6px;
    height: 300px;
    width: 250px;
}